.App {
  text-align: center;
}

body{
  height:100%
 }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.dummy {
  background-color: #222;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
  margin: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.nav-tabs {
    border: 0;
    padding: .7rem;

    margin-bottom: -20px;
    background-color: lightgray;
    z-index: 2;
    position: relative;
    border-radius: 2px;
}

.box {
    position: relative;
    background: #ffffff;
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

    .box.box-primary {
        border-top-color: #3c8dbc;
    }

    .box.box-info {
        /*border-top-color: #00c0ef;*/
    }

    .box .box-body {
        padding: 10px;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

        .box .box-body > table,
        .box .box-body > .table {
            margin-bottom: 0;
        }


        .labelfont {
            font-weight: normal;
            color: #4F88BB;
            font-size: 13px;
            
        }

        .form-control {
            display: inline-flex;
            width: 100%;
            height: 28px;
            padding: 6px 12px;
            font-size: 12px;
            line-height: 1.428571429;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }
        
        .required:after {
            content: " *";
            color: red;
        }

        .font11  {
            color: "#0b4981";
            font-family:  "Roboto,sans-serif";
            font-size: "14px"
          };


          .borderless tr td {
            border: none !important;
            padding: 0px !important;
        }

        .alignCenter {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
        }

        .labelWidth {
            width: "110px";
        }

        .ui-button .ui-widget .ui-state-default .ui-corner-all .ui-datepicker-trigger .ui-calendar-button .ui-button-icon-only
         {
            background: lightslategrey;
            border-color: lightslategrey
        }
       .modalHeaderStyle{
           font: 10px
       }
           .disableElement{
    pointer-events:none;
    opacity:0.65
  }
   